
html{
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    color: #333333;
    font-size: 1.6rem;
}

.contains {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    position: relative;
  }
  
  .topBtn{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .topBtn>div{
    width: 77px;
    height: 25px;
    background-color: #55b9ff;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 13px;
  }
  
  .hot{
    width: 100%;
    border-top: 1px solid #ccc;
    /* margin-top: 1rem; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .hot>div{
    padding: 3px 8px;
    background-color: #ccc;
    color: #666;
    font-size: 1.4rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
  }
  
  .import{
    flex: 1;
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 1rem 0;
  }
  .import>textarea{
    display: block;
    width: 100%;
    height: 90%;
    margin: 0;
    box-sizing: border-box;
    padding: 1rem;
    color: #666;
    resize: none;
    border: 1px solid #ccc;
  }