html{
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    color: #333333;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
}

/* 头部 */
.top{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.top>img{
    width: 1.4rem;
    padding-right: 1rem;
}
.top>div{
    flex: 1;
}
/* 日期 */
.date{
    width: 100%;
    margin-top: 0.5rem;
}
/* 发款，扣款，金额 */
.salary,.deduction,.realSalary{
    width: 100%;
    height: 3rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #666;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding: 0 1rem;
    margin-top: 1rem;
}
.openMore{
    background-color: #55B9FF;
    color: #fff;
    border-radius: 1rem;
}

/* 发款项展开 */
.salaryTitle,.deductionTitle{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    display: flex;
    font-size: 1.4rem;
    color: #333333;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.salaryTitle>li,.deductionTitle>li{
    flex: 1;
    text-align: center;
}

.salaryNum,.deductionContent{
    display: flex;
}
.salaryNum>li,.deductionContent>li{
    flex: 1;
    text-align: center;
}
.salaryNum li,.deductionContent li{
    margin-bottom: 1rem;
    position: relative;
    
}
/* 工单金额和提成可展开 */
.details{
    display: none; 
    width: 100%;
    position: absolute;
    top: 1.6rem;
    z-index: 999;
    background-color: #e1ecf4;
    border-radius: 1rem;
    border: 1px solid #d9d9d9;
    overflow-wrap: break-word;
}
/* 我要申诉 */
.complain>li{
    background-color: #55B9FF;
    color: #fff;
    border-radius: 1rem;
}

/* 走势排名 */
.salaryRanking{
    width: 100%;
    height: 5rem;
    font-size: 1.6rem;
    color: #59C9FF;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
}
.salaryRanking img{
    transform: rotate(270deg);
    margin-right: 1rem;
}

.salaryOpen,.realsalaryOpen{
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
    border-bottom: 1px solid #ccc;
}
.rankingOpen{
    /* display: none; */
    width: 100%;
    height: 20rem;;
    box-sizing: border-box;
    padding: 0 1rem;
}
